## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Avera,US,82.27,few clouds,33.1940,-82.5271,NaN
1,3,Katsuura,JP,89.15,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
2,6,Zhigansk,RU,80.67,clear sky,66.7697,123.3711,Gostinichnyy Kompleks Aylgy
3,11,Iwanai,JP,82.90,broken clouds,42.9744,140.5089,いわない高原ホテル
4,13,Bandrele,YT,76.75,broken clouds,-12.9067,45.1914,Les Baobabs

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Hasaki')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Hasaki')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Katsuura')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Nagahama')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Wajima')] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,159,Hasaki,JP,90.28,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6]
end = vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6]
start

(35.7333, 140.8333)

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
japan_travel = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(japan_travel)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,159,Hasaki,JP,90.28,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,3,Katsuura,JP,89.15,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
2,693,Nagahama,JP,92.98,overcast clouds,35.3833,136.2667,Hotel & Resorts NAGAHAMA
3,470,Wajima,JP,85.98,broken clouds,37.4000,136.9000,Wajiima Onsen Yashio

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))